* {
  margin: 0px;
}

body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

#hero {
  width: 592px;
  margin: 0px auto 72px auto;
  /*  top right bottom left*/
}

#hero img {
  margin-bottom: 72px;
}

h1 {
  font-family: 'Inter', sans-serif;
  font-size: 49px;
  line-height: 56px;
  font-weight: normal;
}

h1 span {
  font-weight: bold;
  /* dentro do h1 eu quero o span */
}

span, a {
  color: #FF9900;
}

p {
  color: #7D7987;
  font-size: 14px;
  line-height: 28px;
}

#footer {
  margin-bottom: 33px;
  font-size: 14px;
  line-height: 28px;
}

.line {
  width: 568px;
  height: 0px;
  border: 1px #eceff2 solid;
  margin: 0px auto 8px;
}

#footer a + a {
  /* o 'a + a' serve pra falar dentro do footer pegue
  o 'a' que tem anterior a ele um 'a' */
  margin-left: 28px;
}

#balls {
  position: fixed;
  bottom: 0px;
  right: 0px;
}